.report {
	margin-bottom: toRem(80);

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (min-width: $mobile) {
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			gap: toRem(24);
		}

		@media (min-width: $mobile) {
			& > button {
				display: none;
			}
		}
	}

	&__info {
		&-title {
			@extend %title;
			margin-bottom: toRem(12);

			@media (min-width: $tablet) {
				text-align: left;
				margin-bottom: toRem(16);
				font-size: toRem(32);
				line-height: 1.5; /* 48px */
			}
		}

		&-list {
			li {
				display: flex;
				color: $mainColor;
				letter-spacing: .1px;
				counter-increment: counter;
				font-weight: 800;
				line-height: 1.71429; /* 24px */

				@media (min-width: $tablet) {
					line-height: 1.5; /* 24px */
				}

				&:before {
					content: counter(counter) ". ";
					margin-right: toRem(8);

					@media (min-width: $tablet) {
						margin-right: toRem(12);
					}
				}
			}

			@media (min-width: $tablet) {
				margin-bottom: toRem(48);
			}
		}

		& > button {
			display: none;

			@media (min-width: $tablet) {
				display: inline;
			}
		}

		@media (min-width: $mobile) {
			width: 50%;
		}

		@media (min-width: $tablet) {
			width: auto;
			min-width: toRem(490);
			margin-left: 9%;
		}
	}
}