#report, #feedback {
	width: 100%;
	padding-bottom: toRem(35);
	margin-bottom: toRem(12);

	@media (min-width: $mobile) {
		width: 50%;

		margin-bottom: 0;
		margin-right: 0;

		.swiper-slide {
			width: 100%;
		}
	}
}

#report {
	@media (min-width: $tablet) {
		@include adaptiveValue('padding-right', 45, 25, 0, 1240, 1200)
	}
}

#report {
	@media (min-width: toEm(1200)) {
		width: toRem(660);
		padding-left: 0;

		.swiper-slide {
			width: toRem(552);
		}
	}

	.swiper-pagination-bullet {
		background: #d0dbf1;
		border-radius: toRem(4);
		opacity: 1;
		transition: all .5s ease;
	}

	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		width: toRem(56);
		background-color: $mainColor;
	}
}

.slide {
	&__image {
		width: 100%;
		height: 100%;
	}
}

// FeedbackSlider

#feedback {
	@include adaptiveValue('width', 392, 304, 0, 796, 320);

	.swiper-wrapper {
		margin: 0 auto;
	}

	.slide {
		width: 100%;
		height: 80%;
	}

	.swiper-pagination-bullet {
		width: toRem(12);
		height: toRem(12);
		background: white;
		border-radius: toRem(12);
		border: 2px solid $mainColor;
	}

	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		background-color: $mainColor;
	}
}